<html>
    <head>
        <title>Home Page</title>

        <style type="text/css" media="screen">
            body {
                color: white;
                background-color: black;
                text-decoration-color: white;
                font-size: 7em;
                max-height: 100vh;
            }
            
        </style>
    </head>

    <body>
        <center>
            Hey! it's <%=date%>, it's time to <br>  <%=toDo%> 
            <br>
            <img draggable="false" width="50%" src="<%= url %>">
        </center>
      
    </body>
</html>