body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-avatar {
  width: 32px;
  height: 32px;
}

.list-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.item{
  background-color: rgba(255,255,255,1);
  padding: 5px 10px;
  color: black;

}

.item:hover{
  background-color:rgba(0,0,250, .1);
  color: white;
}

.item:focus{
  background-color:rgba(0,0,250, .1);
  color: white;
}


.item p.completed {
  text-decoration: line-through;
  color: #bbb;
}

.item input[type="checkbox"] {
  transform: scale(1.2);
}
.user-bar {
  background-color: navy;
}

.newItem {
  position: sticky;
  bottom: 0;
  background-color: #111;
}

form.edit {
  width: 100%;
}

form.edit input[type="text"] {
  width: 100%;
  font-size: 1.1em;
  margin-left: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid crimson;
  color: crimson;
}

form.edit input[type="text"]:focus {
  outline: none;
  border-color: crimson;
}

.icon {
  width: 16px;
  height: 16px;
}

input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
}


@media only screen and (min-width: 1200px) {
  .list-container{
    width: 90%;
    margin: auto;
  }
}

.filter-bar input[type="text"], .filter-bar select, .filter-bar button{
  font-size: 14px;
  line-height: 15px;
}


